body{
    background-color: #1F385C;
    color: #fff;
}

.dashboard{
    display: block;
    max-width: 80vw;
    margin: auto;
    background-color: #fff;
    color: #1F385C;
    border-radius: 4px;
}

.poll{
    display: flex;
    width: 90%;
    margin: .5rem auto .5rem auto;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
}

.poll-quest-section, .poll-image-section{
    text-align: center;
    width: 50%;
    padding: 1rem;
}

.poll-image-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.poll-image-section img{
    width: 150px;
    height: 150px;
    border: 1px solid #1F385C;
    border-radius: 40px;
}

.primary-btn{
    width: 80%;
    height: 44px;
    background-color: #1F385C;
    color: #fff;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
}

.primary-btn:hover:enabled{
    animation: btn-hover 1s ease-in alternate forwards;
}

.primary-btn:disabled{
    background-color: #fff;
    color: #c7c7c7;
    border: 1px solid #c7c7c7;
}

@keyframes btn-hover{
    100%{
        background-color:#000;
    }
}


/*QUESTIONS PAGE*/ 
.question-header, .result-header{
    text-align: center;
}

.result-div-header{
    text-align: center;
    padding: 1rem 0 0 0;
}

.result-div{
    width: 80vw;
    margin: .5rem auto .5rem auto;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    color: #1F385C;
}

.result{
    display: flex;
}

.question {
    display: flex;
    width: 80vw;
    margin: .5rem auto .5rem auto;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    color: #1F385C;
}

.question-quest-section, .result-quest-secition{
    width: 60%;
    padding: 1rem;
}

.question-image-section, .result-image-section{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.question-image-section img, .result-image-section img{
    width: 150px;
    height: 150px;
    border: 1px solid #1F385C;
    border-radius: 40px;
}

.question-options, .result-options{
    margin: 0 0 .5rem 0;
    display: block;
}

.firstOption, .secondOption{
    width: 15rem;
    height: 5rem;
    margin: 1rem;
    padding: .5rem .5rem 0 .5rem;
    border: 1px solid #1F385C;
    border-radius: 4px;
    position: relative;
}

.firstOption>p, .secondOption>p{
    display: flex;
    justify-content: space-between;
}
.voted-icon{
    position: absolute;
    left: 15rem;
    top: -.9rem;
}
/* MEDIA QUERIES */

@media (min-width: 600px){
    .dashboard{
        width: 60vw;
    }
    .question, .result-div{
        max-width: 30rem;
    }
}